######################################################################
#
#
#
#
#
#
#
#
######################################################################


####### BROKER STATUS
TPS
QPS
#JQ
#SELECT
#INSERT
#UPDATE
#DELETE
#OTHERS
#LONG-T
#LONG-Q
#ERR-Q
#UNIQUE-ERR-Q
#CONNECT
#REJECT

###### BROKER CAS
TRAN
WAIT
BUSY
time(s)-W
time(s)-B

####### cub_server STATDUMP
#Num_file_creates
#Num_file_removes
#Num_file_ioreads
#Num_file_iowrites
#Num_file_iosynches
#Num_data_page_fetches
#Num_data_page_dirties
#Num_data_page_ioreads
#Num_data_page_iowrites
#Num_data_page_victims
#Num_data_page_iowrites_for_replacement
#Num_log_page_ioreads
#Num_log_page_iowrites
#Num_log_append_records
#Num_log_archives
#Num_log_start_checkpoints
#Num_log_end_checkpoints
#Num_log_wals
#Num_page_locks_acquired
#Num_object_locks_acquired
#Num_page_locks_converted
#Num_object_locks_converted
#Num_page_locks_re-requested
#Num_object_locks_re-requested
#Num_page_locks_waits
#Num_object_locks_waits
#Num_tran_commits
#Num_tran_rollbacks
#Num_tran_savepoints
#Num_tran_start_topops
#Num_tran_end_topops
#Num_tran_interrupts
#Num_btree_inserts
#Num_btree_deletes
#Num_btree_updates
##Num_btree_covered
#Num_btree_noncovered
#Num_btree_resumes
#Num_btree_multirange_optimization
#Num_query_selects
#Num_query_inserts
#Num_query_deletes
#Num_query_updates
#Num_query_sscans
#Num_query_iscans
#Num_query_lscans
#Num_query_setscans
#Num_query_methscans
#Num_query_nljoins
#Num_query_mjoins
#Num_query_objfetches
#Num_query_holdable_cursors
#Num_sort_io_pages
#Num_sort_data_pages
#Num_network_requests
#Num_adaptive_flush_pages
#Num_adaptive_flush_log_pages
#Num_adaptive_flush_max_pages
#Num_prior_lsa_list_size
#Num_prior_lsa_list_maxed
#Num_prior_lsa_list_removed
#Num_heap_stats_bestspace_entries
#Num_heap_stats_bestspace_maxed
#Time_ha_replication_delay
#Num_plan_cache_add
#Num_plan_cache_lookup
#Num_plan_cache_hit
#Num_plan_cache_miss
#Num_plan_cache_full
#Num_plan_cache_delete
#Num_plan_cache_invalid_xasl_id
#Num_plan_cache_query_string_hash_entries
#Num_plan_cache_xasl_id_hash_entries
#Num_plan_cache_class_oid_hash_entries
#Num_btree_inserts
#Num_btree_deletes
#Num_btree_updates
#Num_btree_covered
#Num_btree_noncovered
#Num_btree_resumes
#Num_btree_multirange_optimization
#Num_query_selects
#Num_query_inserts
#Num_query_deletes
#Num_query_updates
#Num_query_sscans
#Num_query_iscans
#Num_query_lscans
#Num_query_setscans
#Num_query_methscans
#Num_query_nljoins
#Num_query_mjoins
#Num_query_objfetches
#Num_query_holdable_cursors
#Num_sort_io_pages
#Num_sort_data_pages
#Num_network_requests
#Num_adaptive_flush_pages
#Num_adaptive_flush_log_pages
#Num_adaptive_flush_max_pages
#Num_prior_lsa_list_size
#Num_prior_lsa_list_maxed
#Num_prior_lsa_list_removed
#Num_heap_stats_bestspace_entries
#Num_heap_stats_bestspace_maxed
#Time_ha_replication_delay
#Num_plan_cache_add
#Num_plan_cache_lookup
#Num_plan_cache_hit
#Num_plan_cache_miss
#Num_plan_cache_full
#Num_plan_cache_delete
#Num_plan_cache_invalid_xasl_id
#Num_plan_cache_query_string_hash_entries
#Num_plan_cache_xasl_id_hash_entries
#Num_plan_cache_class_oid_hash_entries
